
AnchorPane {
    -fx-background-color: bbbbbb;
}

.sidebar {
    -fx-background-color: aaaaaa;
}

.sidebar Button {
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.sidebar Button:hover {
    -fx-background-color: bbbbbb;
    -fx-cursor: hand;
}

.text-area {
    text-area-background: bbbbbb ;
    -fx-font-size: 25;
    -fx-border: none;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}